.baseModalRoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    overflow: hidden;
    z-index: 100;

    .modalTrigger {
        outline: 0 !important;
        border: 0 !important;
    }
    .modalConfirmationButton {
        outline: 0 !important;
        border: 0 !important;
    }

    .modalCloseButton {
        outline: 0 !important;
        border: 0 !important;
    }

    .modalContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        max-width: 500px;
        max-height: 100%;
        border-radius: 10px;
        background-color: #fff;
        backdrop-filter: blur(5px);

        .modalHeader {
            .modalTitle {
                h3 {
                    margin: 0;
                }
            }
        }

        .modalBody {
        }

        .modalFooter {
        }
    }
}
