.card {
  max-width: 300px;

  .cardTags > *:not(:last-child) {
    margin-bottom: 0;
  }

  @media screen and (max-width: 576px) {
    .card {
      max-width: 100%;
    }
  }
}

.img{
  height: 200px;
}
