.card {
    width: 100%;
}

.addButton{
    background-color: rgba(49, 75, 55, 0.942);
    color: white;
    border: 0cap;
    
}

.addButton:hover{
    background-color: rgba(20, 117, 34, 0.942);
    color: white;
}

.addButton:active:focus{
    background-color: rgba(28, 32, 29, 0.942);
    color: white;
}